.main-footer{
    background-color: #292929;
    .main-logo-footer{
        padding: 75px 0;
        position: relative;
        text-align: left;
        .footer-logo{
            display: inline-block;
            margin-bottom: 40px;
            img{
                filter: brightness(0) invert(1);
            }
        }
        h4{
            color: #fff;
        }
    }
    .copyright{
        background-color: #101010;
        padding: 32px 0;
        p{
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.scrollTop{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .scrollBtn{
        background-color: #fff;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        outline: none;
        text-transform: uppercase;
        width: 70px;
        height: 70px;
        .scrollArrow{
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
        }
    }
}