.main-header{
    padding: 36px 0;
    .main-header-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            color: #000;
            text-decoration: none;
            &.main-logo{
                display: flex;
                align-items: center;
            }
        }
        .main-nav{
            .form-header{
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                font-size: 18px;
                font-weight: bold;
                font-family: $base-font-family;
                text-transform: uppercase;
            }
        }
    }
}