.news-wrapper{
    padding-top: 85px;
    padding-bottom: 120px;
    .newsHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        .news-head-link{
            color: $base-color;
        }
        .main-title{
            margin-bottom: 0;
        }
    }
}

.new-detail-form{
    border-bottom: 1px solid #707070;
    padding-top: 70px;
    padding-bottom: 210px;
    .new-post-date{
        display: block;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .new-post-textarea{
        width: 100%;
        resize: none;
        font-size: 40px;
        padding: 20px 20px;
        margin-bottom: 25px;
    }
    .fileUploader {
        margin-bottom: 0;
    }
    .new-post-content{
        width: 100%;
        resize: none;
        padding: 20px 20px;
        font-size: 18px;
        line-height: 40px;
        height: 395px;
    }
    .news-detail-title{
        font-size: 40px;
        font-family: $base-font-family2;
        font-weight: bold;
        line-height: 66px;
        margin-bottom: 45px;
    }
    .news-detail-img{
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        img{
            width: 100%;
        }
    }
    .news-detail-content{
        p{
            font-size: 18px;
            font-weight: 400;
            line-height: 40px;
            margin-bottom: 50px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.comment{
    padding-top: 70px;
    padding-bottom: 148px;
    .comment-list{
        &:last-child{
            .comment-content{
                margin-bottom: 0;
            }
        }
        .comment-content{
            background-color: #F5F5F5;
            padding: 60px 25px;
            margin-bottom: 60px;
            .comment-body{
                font-size: 18px;
                line-height: 40px;
            }
            .comment-date{
                display: inline-block;
                font-family: $base-font-family;
                font-weight: bold;
                margin-top: 20px;
            }
        }
    }
}

.comment-form{
    .comment-form-fields{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        .comment-textarea{
            border: 1px solid #101010;
            width: 100%;
            resize: none;
            height: 200px;
            padding: 50px 50px;
            &::placeholder{
                font-size: 19px;
                font-family: $base-font-family;
                font-style: italic;
            }
        }
    }
    .comment-form-actions{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .comment-button{
            background-color: #000;
            border: 1px solid transparent;
            color: #fff;
            cursor: pointer;
            font-size: 20px;
            font-family: $base-font-family;
            padding: 22px 15px;
            max-width: 210px;
            width: 100%;
            text-transform: uppercase;
            transition: .5s ease-in-out;
            &:hover{
                border: 1px solid #000;
                background-color: transparent;
                color: $base-color;
            }
        }
    }
}

.create-post{
    padding-top: 60px;
    padding-bottom: 160px;
    .new-post-form{
        .new-post-date{
            display: block;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .new-post-textarea{
            width: 100%;
            height: 150px;
            resize: none;
            font-size: 40px;
            font-weight: bold;
            padding: 20px 20px;
            margin-bottom: 25px;
            &::placeholder{
                font-size: 40px;
            }
        }
        .new-post-content{
            width: 100%;
            padding: 20px 20px;
            resize: none;
            height: 395px;
        }
    }
}

.fileUploader {
    margin-bottom: 35px;
    .fileContainer{
        padding: 0;
        background-color: #D6D6D6;
        border-radius: 0;
        height: 540px;
        margin: 0;
        position: relative;
        .chooseFileButton {
            font-size: 20px;
            font-family: $base-font-family;
            background-color: #000;
            border-radius: 0;
            padding: 23px 20px;
            text-transform: uppercase;
            width: 260px;
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
        }
    }
}