.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    .load-more{
        background-color: #000;
        border: 1px solid transparent;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        font-family: $base-font-family;
        height: 70px;
        outline: none;
        padding: 10px 10px;
        max-width: 340px;
        width: 100%;
        transition: .5s ease-in-out;
        &:hover{
            border: 1px solid #000;
            background-color: transparent;
            color: #000;
        }
    }
}

.new-post-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
    li{
        &:last-child{
            .new-post-btn{
                margin-right: 0;
            }
        }
        .new-post-btn{
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 20px;
            font-family: $base-font-family;
            margin-right: 50px;
            outline: none;
            padding: 0;
            text-decoration: underline;
        }
    }
    
}