.card{
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    padding: 30px 30px;
    text-decoration: none;
    margin-bottom: 60px;
    width: 100%;
    &:hover{
        .card-img{
            img{
                transform: scale(1.2);
            }
        }
    }
    .card-img{
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        overflow: hidden;
        img{
            width: 100%;
            transition: .5s ease-in-out;
        }
    }
    .card-content{
        .card-date{
            display: inline-block;
            margin-bottom: 20px;
        }
    }
}