.login-section {
    padding: 84px 0;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 3;
    background: #fff;
    .login-form {
      width: 460px;
      max-width: 100%;
      margin: 0 auto;
      text-align: left;
      @include mq(max, $mq_md){
        padding-left: 15px;
        padding-right: 15px;
      }
      .login-heading {
        margin-bottom: 52px;
        text-align: left;
        color: #101010;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 3px;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }
  .login-group {
    margin-bottom: 20px;
  }
  .login-label {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 1;
  }
  .login-input {
    border: 1px solid #101010;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
  }
  .login-btn {
    border: 1px solid transparent;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-family: $base-font-family;
    height: 70px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    transition: .5s ease-in-out;
    outline:none;
    &:hover {
      background-color: transparent;
      border: 1px solid #000;
      outline: 0;
      color: #101010;
    }
  }
  .login-registration {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.8px;
    line-height: 90px;
    font-weight: 400;
  }
  .login-register-btn {
        cursor: pointer;
        font-weight: 400;
        font-size: 18px;
        font-family: $base-font-family;
        outline:none;
        background-color: transparent;
        border: none;
        &:hover {
        text-decoration: underline;
        }
  }
  