.slider-wrapper{
    display: flex;
    width: 100%;
    height: calc(350px + (667 - 350) * ((100vw - 320px) / (1600 - 320)));
    overflow: hidden;
    position: relative;
    .slider-item{
        min-width: 100%;
        transition: .5s ease-in-out;
        .slider-img{
            display: flex;
            align-items: center;
            height: 100%;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .slider-content{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            align-content: center;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 1120px;
            width: 100%;
            margin: auto;
            @include mq(max, 1300){
                padding-right: 50px;
            }
            h4{
                font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1600 - 320)));
                line-height: calc(30px + (90 - 30) * ((100vw - 320px) / (1600 - 320)));
                margin-bottom: 30px;
                text-align: right;
                width: 100%;
                @include mq(max, $mq_md){
                    margin-bottom: 10px;
                }
                span{
                    background-color: #000;
                    color: #fff;
                    display: inline-block;
                    padding: 6px 30px;
                    margin-bottom: 10px;
                    @include mq(max, $mq_md){
                        padding: 6px 20px;
                        margin-bottom: 5px;
                    }
                }
            }
            .slide-date{
                font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1600 - 320)));
            }
        }
    }
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
        &.prevButton{
            left: 45px;
            @include mq(max, $mq_md){
                left: 0;
            }
        }
        &.nextButton{
            right: 45px;
            @include mq(max, $mq_md){
                right: 0;
            }
        }
    }
    .carousel-indicator{
        position: absolute;
        bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1600 - 320)));
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            &:last-child{
                .indicator{
                    margin-right: 0;
                }
            }
            .indicator{
                background-color: rgba(255,255,255,0.5);
                border-radius: 50px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15px;
                height: 15px;
                margin-right: 10px;
                &.indicator-active{
                    background-color: #000;
                }
            }
        }
    }
}