.breadcrumbs{
    background-color: #F5F5F5;
    padding: 28px 0;
    .breadcrumbs-item{
        display: flex;
        align-items: flex-start;
        li{
            a, span{
                display: flex;
                align-items: center;
            }
            a{
                color: #000;
                font-family: $base-font-family;
                text-decoration: none;
                margin-right: 25px;
                padding-right: 25px;
                position: relative;
                &::before{
                    content: ">";
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}